{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1 class="text-4xl font-bold mb-2">Edit Franchise</h1>
<p class="mb-8">Edit the details of your franchise below, and click update to save your changes.</p>
{% else %}
<h1 class="text-4xl font-bold mb-2">Create a Franchise</h1>
<p class="mb-8">Your journey to building the next great NBA dynasty begins now!</p>
{% endif %}
<!-- Blank action -> form posts to same url used to display -->
<form action="" method="POST">
    {% csrf_token %}
    <table>
        <!-- form is instance of ModelForm -->
        {{ form.as_table }}
    </table>
    {% if object%}
    <button type="submit" class="btn btn-orange mt-6">Update</button>
    {% else %}
    <button type="submit" class="btn btn-orange mt-6">Create</button>
    {% endif %}
</form>
{% endblock %}