{% extends 'base.html' %}

{% block content %}
<div class="ml-8 sm:ml-4">
    {% if object %}
    <h1 class="text-4xl font-bold mb-2">Edit Franchise</h1>
    <p class="mb-4">Edit the details of your franchise below, and click update to save your changes.</p>
    {% else %}
    <h1 class="text-4xl font-bold mb-2">Create a Franchise</h1>
    <p class="mb-4">Your journey to building the next great NBA dynasty begins now!</p>
    {% endif %}
</div>
<!-- Blank action -> form posts to same url used to display -->
<form action="" method="POST" class="form">
    {% csrf_token %}
    <!-- form is instance of ModelForm -->
    {{ form.as_p }}
    {% if object%}
    <button type="submit" class="btn btn-green mt-2 px-8">Update</button>
    {% else %}
    <button type="submit" class="btn btn-green mt-2 px-8">Create</button>
    {% endif %}
</form>
{% endblock %}