{% extends 'base.html' %}
{% block content %}
<h1 class="text-4xl font-bold mb-2">Log In</h1>
<!-- login path comes from documentation -->
<form action="{% url 'login' %}" method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- hidden input allows us to pass data to server -->
    <!-- redirect user to intended destination after logging in -->
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-green mt-6">Log In</button>
</form>
{% endblock %}