{% extends 'base.html' %}
{% block content %}
<h1 class="text-4xl font-bold mb-2 ml-10 sm:ml-4">Log In</h1>
<form action="{% url 'login' %}" method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- hidden input allows us to pass data to server -->
    <!-- redirect user to intended destination after logging in -->
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-green px-12">Log In</button>
    <p class="mt-4">Don't have an account?</p>
    <a href="{% url 'signup' %}" class="underline text-cyan-950 font-bold">Sign up here!</a>
</form>
{% endblock %}