{% extends 'base.html' %}

{% block content %}
<section class="flex flex-wrap gap-4 mb-8" id="header">
    <div class="w-3/4 sm:w-2/5" id="photo">
        {% for photo in franchise.photo_set.all %}
        <img class="rounded mb-4" src="{{ photo.url }}" alt="Photo for {{ franchise.city }} {{ franchise.name }}">
        {% empty %}
        <img class="rounded mb-4" src="../../static/Assets/franchise-photo-placeholder.jpg" alt="Placeholder image">
        {% endfor %}
        <form action="{% url 'add_photo' franchise.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file" class="mb-2">
            <button type="submit" class="btn btn-green">Upload Photo</button>
        </form>
    </div>
    <div class="sm:mt-4" id="franchise-info">
        <h1 class="text-4xl font-bold">{{ franchise.city }} {{ franchise.name }}</h1>
        <h2 class="mb-2">Established: {{ franchise.established|date:'N Y' }}</h2>
        <p class="mb-10">{{ franchise.motto }}</p>
        <div>
            <a href="{% url 'franchises_update' franchise.id %}" class="btn-lg btn-orange mr-2">Edit Franchise</a>
            <a href="{% url 'franchises_delete' franchise.id %}" class="btn-lg btn-orange-outline">Delete Franchise</a>
        </div>
    </div>
</section>
<hr class="my-8">
<section id="roster">
    <h2 class="text-3xl font-bold mb-2">Roster</h2>
    <p class="mb-8">Roster will go here...</p>
    <a href="{% url 'players_search' franchise.id %}" class="btn-lg btn-orange">Build Roster</a>
</section>

{% endblock %}