{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl font-bold mb-2">All Franchises</h1>
<p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-x-6 gap-y-10">
  {% for franchise in franchises %}
  <div class="flex flex-col">
    <a href="{% url 'franchises_detail' franchise.id %}">
      {% for photo in franchise.photo_set.all %}
      <img class="" src="{{ photo.url }}" alt="Photo for {{ franchise.city}} {{franchise.name }}">
      {% empty %}
      <img class="" src="../../static/Assets/franchise-photo-placeholder.jpg" alt="Placeholder image">
      {% endfor %}
      <div class="border p-2" id="card-contents">
        <span class="text-2xl font-semibold">{{ franchise.city|capfirst }} {{ franchise.name }}</span>
        <p class="mb-4">Est: {{ franchise.established|date:'N Y' }}</p>
        <p>Motto: {{ franchise.motto }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}