{% extends 'base.html' %}

{% block content %}
<h1>All Franchises</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<br>
<div class="border-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-x-6 gap-y-2">
  {% for franchise in franchises %}
  <div class="border flex flex-col">
    <a href="{% url 'franchises_detail' franchise.id %}">
      <span class="text-2xl font-semibold">{{ franchise.city|capfirst }} {{ franchise.name }}</span>
      <p class="mb-4">Est: {{ franchise.established|date:'N Y' }}</p>
      <p>Motto: {{ franchise.motto }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
