{% extends 'base.html' %}

{% block content %}
<div id="heading" class="flex flex-col md:flex-row justify-between items-start mx-auto md:pl-6 mb-10 md:mb-4">
  <div class="md:w-3/5">
    <h1 class="text-4xl mb-2">My Franchises</h1>
    <p class="mb-4 md:mb-8 font-semibold">Select one of your created teams, add players to your roster, and build the next great NBA dynasty!</p>
  </div>
  <a href="{% url 'franchises_create' %}" class="btn md:btn-lg btn-green-outline">Create a New Franchise</a>
</div>
<div id="container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  {% for franchise in my_franchises %}
  <div id="card" class="bg-white border rounded-lg overflow-hidden shadow-lg">
    <a href="{% url 'franchises_detail' franchise.id %}">
      {% for photo in franchise.photo_set.all %}
      {% if forloop.last %}
      <img class="aspect-3/2" src="{{ photo.url }}" alt="Photo for {{ franchise.city}} {{franchise.name }}">
      {% endif %}
      {% empty %}
      <img class="aspect-3/2" src="../../static/Assets/franchise-photo-placeholder.jpg" alt="Placeholder image of basketball hoop">
      {% endfor %}
      <div id="card-contents" class="px-6 pt-4 pb-8">
        <h2 class="font-body text-xl font-bold text-black">{{ franchise.city|capfirst }} {{ franchise.name }}</h2>
        <p class="text-slate-500 mb-4">Est. {{ franchise.established|date:'M d, Y' }}</p>
        <p class="italic">{{ franchise.motto }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}