{% extends 'base.html' %}

{% block content %}
<div class="max-w-screen-md">
  <h1 class="text-4xl font-bold mt-8 mb-2">Welcome to Dunk Dynasty!</h1>
  <hr />
  <p class="mt-4 mb-8">
    The game starts now! Dunk Dynasty is a full-stack Django application that
    puts the power in your hands to forge your own fictional NBA franchise.
    Unleash your creativity as you construct a formidable roster of players,
    poised to ascend and establish the next legendary NBA dynasty!
  </p>
  <h2 class="text-3xl mb-2">Technology + Documentation</h2>
  <hr />
  <ul class="list-disc ml-8 mt-4 mb-8 text-sky-950">
    <li>
      <strong>Web Framework:</strong>
      <a
        href="https://docs.djangoproject.com/en/5.0/"
        target="_blank"
        rel="noreferrer noopener"
        >Django</a
      >
    </li>
    <li>
      <strong>Programming and Markup Languages:</strong>
      <a
        href="https://docs.python.org/3/"
        target="_blank"
        rel="noreferrer noopener"
        >Python</a
      >, HTML,
      <a
        href="https://docs.djangoproject.com/en/5.0/ref/templates/language/"
        target="_blank"
        rel="noopener noreferrer"
        >DTL</a
      >
    </li>
    <li>
      <strong>Database:</strong>
      <a
        href="https://www.postgresql.org/docs/"
        target="_blank"
        rel="noreferrer noopener"
        >PostgreSQL</a
      >
    </li>
    <li>
      <strong>CSS Library:</strong>
      <a
        href="https://tailwindcss.com/docs/"
        target="_blank"
        rel="noreferrer noopener"
        >Tailwind</a
      >
      (<strong>installation package:</strong>
      <a
        href="https://django-tailwind.readthedocs.io/en/latest/installation.html"
        target="_blank"
        rel="noreferrer noopener"
        >Django-Tailwind</a
      >)
    </li>
    <li>
      <strong>Photo Storage</strong>
      <a
        href="https://docs.aws.amazon.com/s3/"
        target="_blank"
        rel="noreferrer noopener"
        >Amazon S3</a
      >
    </li>
    <li>
      <strong>Cloud Application Deployment:</strong>
      <a
        href="https://devcenter.heroku.com/categories/reference"
        target="_blank"
        rel="noreferrer noopener"
        >Heroku</a
      >
    </li>
  </ul>
  <h2 class="text-3xl mb-2">Acknolwedgements</h2>
  <hr />
  <ul class="list-disc ml-8 mt-4 mb-8 text-sky-950">
    <li>
      <strong>API:</strong>
      <a
        href="https://www.balldontlie.io/home.html"
        target="_blank"
        rel="noreferrer noopener"
        >balldontlie</a
      >
    </li>
    <li>
      <strong>Stock photos:</strong>
      <a href="https://unsplash.com/" target="_blank" rel="noreferrer noopener"
        >Unsplash</a
      >
    </li>
    <li>
      <strong>Photo Compression:</strong>
      <a href="https://tinypng.com/" target="_blank" rel="noreferrer noopener"
        >TinyPNG</a
      >
    </li>
    <li>
      <strong>Dunk Dynasty Logos:</strong>
      <a
        href="https://openai.com/dall-e-3"
        target="_blank"
        rel="noreferrer noopener"
        >DALL·E 3</a
      >
    </li>
    <li>
      <strong>Wireframes and ERD:</strong>
      <a href="https://moqups.com/" target="_blank" rel="noreferrer noopener"
        >Moqups</a
      >
    </li>
  </ul>
</div>
{% endblock %}
