{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dunk Dynasty</title>
    {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <ul>
            <li>
              <a href="/">Dunk Dynasty</a>
            </li>
          </ul>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/franchises">All Franchises</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
      <div>
        All Rights Reserved, &copy; 2024 Dunk Dynasty
      </div>
    </footer>
  </body>
</html>