{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dunk Dynasty</title>
    {% tailwind_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body class="flex flex-col h-dvh">
    <header>
      <nav class="bg-gray-300">
        <div class="flex justify-between p-6">
          <a href="{% url 'home' %}">Dunk Dynasty</a>
          <div class="flex gap-10" id="nav">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'franchises_index' %}">All Franchises</a>
          </div>
          <div id="auth">
            <a href="#" class="m-10">Log In</a>
            <a href="#">Sign Up</a>
          </div>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div>All Rights Reserved, &copy; 2024 Dunk Dynasty</div>
    </footer>
  </body>
</html>
