{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dunk Dynasty</title>
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    /> -->
  </head>
  <body class="flex flex-col h-dvh bg-gradient-to-r from-red-500 to-orange-400 font-body">
    <header class="bg-white fixed top-0 w-full shadow-md font-semibold">
      <nav class="flex justify-between p-6">
          <a href="{% url 'home' %}">Dunk Dynasty</a>
          <div class="flex gap-4 md:gap-10" id="nav">
            <a href="{% url 'about' %}">About</a>
            {% if user.is_authenticated %}
            <a href="{% url 'franchises_create' %}" class="hidden md:inline">Add Franchise</a>
            {% endif %}
            <a href="{% url 'franchises_index' %}">All Franchises</a>
          </div>
          <div class="flex gap-10" id="auth">
            {% if user.is_authenticated %}
            <!-- Is authenticated -->
            <a href="{% url 'franchises_my_index' %}">My Franchises</a>
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="">Log Out</button>
            </form>
            {% else %}
            <!-- Is not authenticated -->
            <a href="{% url 'signup' %}" class="hidden md:inline">Sign Up</a>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
          </div>
      </nav>
    </header>
    <main class="mx-auto my-28 sm:my-36 px-8 xl:px-0 md:max-w-screen-lg grow">{% block content %} {% endblock %}</main>
    <footer class="text-right pt-0 pb-4 pr-4">
      <div>All Rights Reserved, &copy; 2024 Dunk Dynasty</div>
    </footer>
  </body>
</html>