{% extends 'base.html' %}

{% block content %}
<div class="max-w-screen-sm text-center">
    <h1 class="text-4xl font-bold text-orange-900 mt-10 mb-4">Build the Next Great NBA Franchise with Dunk Dynasty</h1>
    <h2 class="text-xl font-semibold mb-12">Simulate owning the next major NBA franchise and add players to your team!</h2>
    <a href="{% url 'franchises_create' %}" class="btn-lg btn-orange mr-8">Get Building</a>
    <a href="{% url 'franchises_index' %}" class="btn-lg btn-orange-outline">All Franchises</a>
</div>
{% endblock %}